.body {
  .list-group {
    font-size: 0.8rem !important;
    .list-group-item {
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    }
  }
  .feed-back {
    font-size: 0.7rem;
  }
}
