/* You can add global styles to this file, and also import other style files */

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  .portal-logo-link {

  }
}

.fl-1 {
  flex: 1 !important;
}
.fl-2 {
  flex: 2 !important;
}
ng-multiselect-dropdown {
  .multiselect-dropdown {
    .dropdown-btn {
      padding-top: 0.25rem !important;
      padding-bottom: 0.25rem !important;
      padding-left: 0.5rem !important;
      font-size: 0.875rem !important;
      border: 1px solid #ced4da !important;
      .dropdown-multiselect__caret {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 16px 12px;
        height: 24px !important;
        width: 26px !important;
        /* border: 1px solid #ced4da; */
        /* border-radius: 0.25rem; */
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        top: 50% !important;
        transform: translate(0,-50%) !important;
        &:before {
          display: none;
        }
      }
      .selected-item {
        border-color: #0d6dfe !important;
        background: #0d6dfe !important;
        white-space: nowrap;
      }
    }
    .dropdown-list {
      .multiselect-item-checkbox input[type=checkbox]:checked + div:before {
        background-color: #0d6dfe !important;
      }
      .multiselect-item-checkbox input[type=checkbox] + div:before {
        border-color: #0d6dfe !important;
        white-space: nowrap;
      }
    }

  }
}
.cowin-vue-holder {
  .btn, .form-control, .form-select {
    box-shadow: none !important;
  }
}

.cursor-pointer {
  cursor: pointer !important;
}
.details-model {
  background: whitesmoke;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 10;
  .g-map-link {
    width: 30px;
    height: 30px;
    background: url(https://developers.google.com/maps/images/maps-icon.svg) center no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .center-name-label {
    color: #065ba3 !important;
    font-weight: 600;
  }
  .total-slots {
    color: #1A1E30;
    font-weight: bold;
    font-size: 1rem;
  }
  .address-holder {
    .address-label {
      font-weight: 500;
      color: #0f5132;
    }
  }
  .dose-label {
    font-weight: 600;
    color: #f76905;
  }
}

.card-shadow {
  box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.2) !important;
}

@media only screen and (min-width: 768px) {
  .details-model {
    box-shadow: 0 2px 0px 100vh rgb(0 0 0 / 70%) !important;
    top: 56px;
    max-height: 800px;
    max-width: 500px;
    &.result-holder {
      max-height: calc(100% - 56px) !important;
      max-width: 100% !important;
    }
  }
}

.text-cowinvue-secondary {
  color: #adadad !important;
}
.fl-b-20px {
  flex-basis: 20px !important;
}
.alert {
  font-size: 0.75rem !important;
}

.cowin-datepicker .cowin-dp-input{
  background-color: #FFFFFF !important;
}
.cowin-datepicker {
  .calendar-container {
    border: 1px solid #86b7fe !important;
    .day-unit, .year-unit {
      background-color: #FFFFFF;
      color: #212529;
      &.is-today {
        background-color: #0d6efd8a !important;
        color: black !important;
      }
      &:hover, &.is-selected {
        background-color: #0d6efd !important;
        color: #FFFFFF !important;
      }
    }
  }
}

ng-multiselect-dropdown .multiselect-dropdown .dropdown-btn, .cowin-dp-input {
  //padding-left: 0.75rem !important;
}

virtual-scroller {
  width: 100%;
  height: 100%;
  .scrollable-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .v-scroll-item {
      display: flex;
      flex-direction: column;
      padding: 0.25rem !important;
    }
  }
}


